.footer-with-bg {
    background-color: #343a40;
}
.footer-with-bg h5 {
    font-size: 1rem; /* Гарчигны үсгийн хэмжээ жижигрүүлэх */
}
.footer-with-bg p,
.footer-with-bg label,
.footer-with-bg input,
.footer-with-bg textarea,
.footer-with-bg button {
    font-size: 0.85rem; /* Бусад текстийн үсгийн хэмжээ жижигрүүлэх */
}
/* Байршлын газрын зурагны харьцаа, зай тохируулга */
.map-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 харьцаа */
    height: 0;
    overflow: hidden;
    border-radius: 8px;
}
.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
